.random{
  position: relative;
  text-align: center;
  margin-top: 13%;
  max-width:550px;
  margin-right:auto;
  margin-left:auto;
}

.random a{
	margin-right:15px;
}


p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	font-weight:100;
}

.linked{
	color:black;
	text-decoration: none;
}

.container{
	border-top:7px solid #27ae60;
	margin:0;
	height: 93%;
}

.tweet{
	margin-left:43px;
}

.result{
	margin-left:45px;
	height:85px;
	font-weight:500;
}

.bottom{
	bottom: 0;
	position: relative;
	margin-bottom: 0;
	font-size: 15px;
	color: #4E4A4A;
	font-weight:300;
}

.bottom a{
	color: #4E4A4A;
}


#result, .streak{
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

#result{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:500;
}

.streak{
	font-size:13px;
	font-weight:500;
	color:#95a5a6;
	margin-right:5px;
	font-family: 'Montserrat', sans-serif;
}

body{
	margin:0;
}

.split{
	display:inline-block;
}